<!DOCTYPE html>
<html ng-app>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for metaname, metavalue in meta %}
    <meta name="{{metaname}}" value="{{metavalue}}" />
    {% endfor %}

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />

    <!-- publish javascript variable -->
    <script>
        var global = {{global|json_encode|raw}}
    </script>

    <!-- Include registered css -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    {% for cssfile in css.external %}
    <link rel="stylesheet" href="{{cssfile}}" />
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="{{assetUrl}}css/responsive.dataTables.min.css">
    {% for cssfile in css.internal %}
    <link rel="stylesheet" href="{{assetUrl}}css/{{cssfile}}" />
    {% endfor %}
</head>
<body>
    {% block body %}{% endblock %}

    <!-- Include registered javascript -->
    {% for jsfile in js.external %}
    <script src="{{jsfile}}"></script>
    {% endfor %}

    {% for jsfile in js.internal %}
    <script src="{{assetUrl}}js/{{jsfile}}"></script>
    {% endfor %}
    <script src="{{assetUrl}}js/loadingoverlay.min.js"></script>
    <script src="{{assetUrl}}js/loadingoverlay_progress.min.js"></script>

</body>
</html>